.container-wrapper {
  margin: 4em 3em;
}



// #blogCard{
//   margin-bottom: 30px !important;
// }

/* Style the tab */
.tab {
  overflow: hidden;
  position: relative;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  // padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;

  &-wrapper {
    display: flex;
    gap: 40px;
  }



  .buttons {
    .btn-1 {
      background: #4f18d8;
      border-radius: 4px;
      font-size: 14px;
      width: 133px;
      margin-right: 20px;
      color: rgb(204, 204, 216);
    }
  }
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  transition: 0.3s;
  font-size: 17px;
  // margin-bottom: 20px;
  color: #8a8a8a;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 1px solid #000000;
  font-weight: 700;
  color: #000000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  // border: 1px solid #ccc;
  border-top: none;
}

.profile-circle {
  .circle-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid lightgray;
  }
}

// .profile-name {
//   font-weight: 600;
// }

// .views {
//   font-size: 14px;
//   line-height: 18px;
//   color: #525252;
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

.sm-box {
  background: #edeef0;
  border-radius: 2px;
  padding: 5px 10px;
}



@media (max-width: 600px) {
  .tab{
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }

.tab > .buttons{
  margin-bottom: 1rem;
}
}
